<!doctype html>
<html class=no-js lang=en-US data-ui-version=zlf-0.1>
	<head>
		<title>{% block title %}z/l/f/ v0.1 {% endblock %}</title>
		{{ "zlf.css" | asset_url | stylesheet_tag }}
		{% block styles %}{% endblock %}		
	</head>
	<body class=app>

		<div class=ui>
			{% block header %}
				{% include "header" %}
			{% endblock %}
			<main class="view {% block view %}{% endblock %}">
				{% block content %}{% endblock %}
			</main>
			{% block footer %}
				{% include "footer" %}
			{% endblock %}
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		{{ "script.js" | asset_url | script_tag }}
		
	</body>
</html>