{% block view %}styleguide{% endblock %}
{% block styles %}{% endblock %}


{% block content %}

<div class=container>
	<h1>Pitchfork four dollar toast</h1>
	<img src=http://placekitten.com/g/600/300 alt />
</div>

<section>
	<header>
		<h2 class=name>Raw denim they sold out deep</h2>
		<div class=bar role=presentation>{% include "svgs/3-bars" %}</div>
	</header>
	<div class=container>
		<p>
Stumptown aesthetic church-key narwhal blog retro, yr mumblecore plaid health goth shabby chic heirloom Portland leggings. Master cleanse tilde Intelligentsia, jean shorts selvage typewriter kale chips farm-to-table distillery literally four loko.
		</p>
		<p>
Twee Austin Schlitz chambray normcore Portland cornhole fashion axe. American Apparel heirloom selvage, Bushwick farm-to-table try-hard Neutra pug. Carles Banksy brunch Intelligentsia quinoa kogi. Master cleanse tilde Intelligentsia, jean shorts selvage typewriter kale chips farm-to-table distillery literally four loko. Yr tote bag Carles quinoa, occupy street art distillery food truck bicycle rights Pinterest ugh mixtape.
		</p>			
	</div>
	<footer>
		<small>Wes Anderson literally put a bird on it cliche Kickstarter Neutra McSweeney's YOLO.</small>
	</footer>
</section>

<section>
	<header>
		<h2 class=name>Authentic banjo cornhole fingerstache</h2>
	</header>
	<div class=container>
		<h3>Kogi hashtag kitsch, mustache fap</h3>
		<p>
Trust fund artisan mixtape Pitchfork, sustainable distillery disrupt forage food truck lumbersexual sriracha actually mlkshk skateboard. Food truck selfies cronut, squid Neutra 8-bit synth sustainable pork belly taxidermy Godard. Scenester crucifix Blue Bottle meh, hashtag pug plaid put a bird on it craft beer salvia Odd Future polaroid literally Banksy meditation.
		</p>
		<p>
		Heirloom butcher seitan, art party disrupt paleo XOXO mixtape. Heirloom next level butcher you probably haven't heard of them, Carles PBR fanny pack pickled put a bird on it Marfa. Bespoke Vice chambray yr biodiesel, authentic forage shabby chic meh wolf deep v Odd Future typewriter American Apparel kale chips. You probably haven't heard of them leggings literally, try-hard Brooklyn crucifix iPhone salvia polaroid mixtape.
		</p>
		<h4>Cornhole skateboard</h4>
		<p>
Cred American Apparel crucifix cold-pressed. Street art flexitarian Williamsburg, keffiyeh YOLO mustache art party Portland meh. You probably haven't heard of them farm-to-table try-hard photo booth Pinterest. Wolf fap PBR, lo-fi stumptown seitan Schlitz locavore direct trade. Sriracha food truck drinking vinegar before they sold out semiotics Carles.
		</p>
		<p>
Four dollar toast occupy put a bird on it art party flannel gluten-free semiotics mlkshk Wes Anderson. Tilde try-hard Kickstarter synth, lo-fi mumblecore Pitchfork keffiyeh crucifix VHS PBR Helvetica. Cred mustache you probably haven't heard of them Wes Anderson cray, forage put a bird on it banjo fashion axe taxidermy food truck ugh. Blog lomo tousled ugh wayfarers, selvage slow-carb cliche brunch 3 wolf moon sartorial hella 8-bit. Austin occupy Brooklyn chia. Hashtag lo-fi tousled, DIY Bushwick direct trade cray Odd Future heirloom dreamcatcher lumbersexual lomo messenger bag you probably haven't heard of them. Pickled normcore next level, jean shorts Kickstarter letterpress gastropub Austin synth.
		</p>	
	</div>
</section>

<section>
	<header>
		<h2 class=name>Sustainable selvage selfies</h2>
	</header>
	<div class=container>
		<p>
Stumptown aesthetic church-key narwhal blog retro, yr mumblecore plaid health goth shabby chic heirloom Portland leggings. Master cleanse tilde Intelligentsia, jean shorts selvage typewriter kale chips farm-to-table distillery literally four loko.
		</p>
		<p>
Twee Austin Schlitz chambray normcore Portland cornhole fashion axe. American Apparel heirloom selvage, Bushwick farm-to-table try-hard Neutra pug. Carles Banksy brunch Intelligentsia quinoa kogi. Master cleanse tilde Intelligentsia, jean shorts selvage typewriter kale chips farm-to-table distillery literally four loko. Yr tote bag Carles quinoa, occupy street art distillery food truck bicycle rights Pinterest ugh mixtape.
		</p>			
	</div>
</section>




{% endblock %}

