body {
	background-image: url('/assets/images/5-grid.png');
}
#debug { 
    font-family: 'AndaleMono';
    position: fixed;
    bottom: 0px;
    right: 0;
    outline: solid 1px black;
    padding: 2.5px 5px;

    #viewport-dimensions {

    }



}
